<div class=''>
  <div class=''>
    <div class=''>
      <h1 class=''><%= t(:label_holiday_workday) %></h1>
      <span class="holiday"></span><span><%= t(:label_holiday) %></span>
      <span class="workday"></span><span><%= t(:label_workday) %></span>
    </div>
  </div>
</div>
<h1 class='year'>
<span><%= link_to '<', hwdays_path(year: @current_year.prev_year), class: 'year-nav' %><span>
<span><%= @current_year.year %>年</span>
<span><%= link_to '>', hwdays_path(year: @current_year.next_year), class: 'year-nav' %><span>
</h1>
<% (1..12).each do |i| %>
<% begin_month = Date.parse("#{@current_year.year}-#{i}-1") %>
<div class="calendar">
  <table>
    <caption><%= i %>月</caption>
    <thead>
      <tr>
        <th><%= t(:monday) %></th>
        <th><%= t(:tuesday) %></th>
        <th><%= t(:wednesday) %></th>
        <th><%= t(:thursday) %></th>
        <th><%= t(:friday) %></th>
        <th><%= t(:saturday) %></th>
        <th><%= t(:sunday) %></th>
      <tr>
    </thead>
    <tbody>
      <% HolidayWorkday::Hwday.weeks(begin_month..begin_month.at_end_of_month).each_with_index do |week, i| %>
      <% if i == 0 && week.size < 7 %>
      <% week.unshift(*Array.new(7 - week.size, nil)) %>
      <% end %>
      <tr>
        <% week.each do |date| %>
        <td title="<%= t(:day_title)%>" data-date="<%= date %>">
        <% if date %>
          <%= link_to date.day, toggle_hwdays_path(date: date), method: 'post', remote: true, class: day_class(date) %>
        <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>